:root
{
    --section_width : 80vw;
    --movie_amount  : 0; 
}

#image_box, #thumbs_box
{
    width: var(--section_width);
}

#web_page h1
{
    flex-basis: 6%;
}

#web_page #image_box
{
    height: 70%;
}

#web_page #image_box #prev_movie,
#web_page #image_box #next_movie
{
    bottom: 0;
    width: 10%;
    cursor: pointer;
}

#web_page #thumbs_box
{
    height: 15%;
    padding: 5px;
    border: 3px solid blue;
}

#web_page img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

img
{
    filter: brightness(10%);
}

img.active
{
    filter: brightness(100%);
}

#web_page #thumbs_box img
{
    width: calc(95% / var(--movie_amount));
}